#git-logo img {
	border: 0;
	background: none;
	box-shadow: none;
}

.vcs-slide h2 {
	font-size: 0.9em;
}

.vcs-slide p img {
	margin-top: 0;
	height: 85%;
}

.copy-slide p img,
.areas-slide p img,
.branchs-example p img {
	border: 0;
	background: #FFF;
	padding: 5px;
}

.local-slide h2 {
	font-size: 1.3em;
}

.basic-commands h3 {
	font-size: 0.6em;
	text-align: left;
	margin-bottom: 5px;
}

.basic-commands pre {
	margin-top: 0;
}