#git-logo img {
	border: 0;
	background: none;
	box-shadow: none;
}

.vcs-slide h2 {
	font-size: 0.9em;
}

.vcs-slide p img {
	margin-top: 0;
	height: 85%;
}

.copy-slide p img {
	border: 0;
	background: #FFF;
	padding: 5px;
}